
.page_header {
    color: #6FD0B5;
    text-align: center;
    font-size: 50pt;
    margin: 0%;
    padding-top: 0%;
}

.page_banner {
    background-color: #C7E7F4;
    margin-top: 0%;
    height: 20%;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: #FCE594;
}

.menu_bar {
    width: 35px;
    height: 7px;
    border-radius: 4px ;
    background-color: #73AA9B;
    margin: 6px 0px;
}

#navigation_popup {
    position: absolute;
    background-color: lightblue;
    height: 200px;
    width: 200px;
    float:left
}

.menu_bar_container {
    padding-top: 6px;
    padding-left: 6px;
}

.columns_1{
    float: left;
    width: 33%
}

.columns_2{
    float: left;
    width: 16.6666%;
    height: 20%;
    position: relative;
    text-align: center;
    color: #84FFDD;
    overflow: hidden;
}


.quote_text {
    width: 70%;
    padding-left: 15%;
    text-align: center;
    font-size: 20pt;
}

#column_one_text_one {
    padding-top: 5%;
}

#column_one_text_two {
    padding-top: 20%;
}

#column_three_text_one {
    padding-top: 25% ;
}

#mainpage_picture{
    height: 100%;
    width: 100%;
    padding-top: 20%;
}

.text_highlight {
    color: #73AA9B;
    font-size: 25pt;
}

.navigation_pictures {
    width: 436px;
    height: 310px;
    filter: brightness(85%);
}

.navigation_pictures:hover {
    filter:brightness(65%);
    transform:translate(5px,-5px)
}

.navigation_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30pt;
}

#section_3 {
    padding-top: 5%;
    height: 20%;
}


/* For History */

.background_image {
    background-image:url('./assets/bakery_1.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    padding-top: 0%;
}

.bright_text {
    color:white;
    padding: 0%;
    margin: 0pt;
}

.history_text {
    padding-top: 5%;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 20pt;
    background: rgba(0,0,0,0.4);
    height: inherit;
    line-height: 30pt;

}

#history_section_3 {
    padding-top: 0%;
    height: 20%;
}

/* For Variants */
.variant_text {
    float: left;
    width: 50%;
    font-size: 20pt;
    padding-left: 5%;
}

.image_div {
    float: left;
    height: auto;
    width: 40%;
    margin-top: 75px;
    padding-left: 50px;
}

#Argentina {
    height: 400px;
}

#argentina_text {
    float: left;
    width: 50%;
    font-size: 20pt;
    padding-left: 5%;
}


#argentina_image {
    height: 300px;
}

#italy_image {
    height: 400px;
}

#poland_image {
    height: 400px;
}

#portugal_image {
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

/* For Baking */

.centered {
    text-align: center;
}

#recipe {
    background:  rgba(0,0,0,0.7);;
    float: right;
    width: 50%;
    margin-left: 5%;
    color: white;
}

#baking_container {
    margin: 0 auto;
    width:70%;
    font-size: 20pt;
}


#baking_background {
    background-image: url(./assets/recipe_background.jpeg);
    margin-top: 0;
    transform: translateY(-35px);
    /* padding-top: 5%; */
}

#recipe_text {
    margin-top: 0;
}

.darken_effect {
    background: rgba(0,0,0,0.4);
    height: 100%;

}

/* Production */

#production_text{
    width:60%;
    margin: 0 auto;
    font-size: 20pt;
}

#production_container {
    padding-top:5%;
}

#production_dough{
    float: right;
    height: 300px;
    width: 400px;
}

#proudction_shape{
    float: right;
    height: 300px;
    width: 400px;
}

#production_bake{
    float: right;
    height: 300px;
    width: 400px;
}

/* For Ingredients */
#ingredients_text {
    width:70%;
    font-size: 20pt;
    margin: 0 auto;

}

/* For Desktop */
@media only screen and (min-width: 992px) {
    .navigation_pictures {
        width: 436px;
        height: 310px;
        filter: brightness(85%);

    }

    #section_two {
        height: 90%;
    }

    .columns_2{
        float: left;
        width: 16.6666%;
        height: 20%;
        position: relative;
        text-align: center;
        color: #84FFDD;
        overflow: hidden;
    }
}

/* For Mobile */
@media only screen and (max-width: 991px) {
    .navigation_pictures {
        width: 490px;
        height: 300px;
        filter: brightness(85%);
    }

    #homepage_banner {
        background-color: #C7E7F4;
        margin-top: 0%;
        height: 10%;
    }

    #section_two {
        height: 40%;
    }

    .columns_2{
        float: left;
        width: 50%;
        height: 20%;
        position: relative;
        text-align: center;
        color: #84FFDD;
        overflow: hidden;
    }
}

